{% extends "student_base.html" %}
{% load static %}

{% block content %}

<style>


.form-topic{
  background:white;
  padding:15px;
}
.topic-name{
  border: 1px solid darkblue;
  padding: 8px 4px 8px 10px;
  margin-top:12px;
}
.input-description{
  border: 1px solid darkblue;
  padding: 8px 4px 8px 10px;
  margin-top:12px;

}
.form-label{
  color:black;
}
.form-button{
    background: #9c27b0;
    color: white;
    padding: 6px;
    width: 121px;
    border: none;
    cursor: pointer;
}
.card-header{
    margin-bottom:20px;
}
.title-main{
    color:black;
    font-weight:600;
    text-align:center;
    
}
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-header card-header-primary">
        <h4 class="card-title title-main">FEEDBACK ON PROJECT MATERIALS</h4>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10 form-card">
    
        <form method="post" class="form-topic" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="mb-4">
              <label for="topicName" class="form-label">Feedback on File</label>
              {{form.similar_topic_file}}
            </div>
            <div class="mb-3">
              <label for="topicDescription" class="form-label">Comment</label>
              {{form.comment}}
            </div>
            <div class="mb-1">
              <button class="form-button">Submit</button>
            </div>
        </form>
    
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
        

<script>
    const file = document.getElementById('id_similar_topic_file');
	  file.className = 'form-control topic-name';


	const comment = document.getElementById('id_comment');
	comment.className = 'form-control input-description';

</script>

{% endblock %}

