{% extends "base.html" %}
{% load static %}

{% block container %}

<style>

.text{
    margin: 20px 0px 35px 0px;
}
</style>


		<h1>Account Login</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="post">
          {% csrf_token %}
          {{form.username}}
          {{form.password}}
					<div class="wthree-text">
						<label class="anim">
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGN-IN">
				</form>
        <p>Are you a student? <a href="{% url 'register' %}"> Register Now!</a></p>
			</div>
		</div>

<script>
  username = document.getElementById('id_username');
  password = document.getElementById('id_password');

  username.classList.add('text')
  password.classList.add('text')

  username.placeholder = "Username";
  password.placeholder = "Password";

</script>
{% endblock %}





