{% extends "base.html" %}
{% load static %}

{% block container %}
<style>

.text{
    margin: 20px 0px 35px 0px;
}
</style>

<h1>Student SignUp Form</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <form method="post">
        {% csrf_token %}
            {{form.username}}
            {{form.email}}
            {{form.password}}
            <div class="wthree-text">
                <div class="clear"> </div>
            </div>
            <input type="submit" value="SIGNUP">
        </form>
    </div>
</div>


<script>

  email = document.getElementById('id_email');
  username = document.getElementById('id_username');
  password = document.getElementById('id_password');



  email.classList.add('text');
  username.classList.add('text');
  password.classList.add('text');

  password.classList.add('w3lpass');

</script>

{% endblock %}

