{% extends "teacher_base.html" %}
{% load static %}

{% block content %}

<style>

.project-detail{
  color:black;
  font-weight:500;
}
.approve-link{
  display: block;
  margin-top: 10px;
  font-weight: 700;
}
.title-main{
    color:black;
    font-weight:600;
    text-align:center; 
}
.labl{
  display:block;
}
.no-topics{
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 400;
}
.download{
  margin-left:10px;
}
.download-img{
    width: 20px;
    height: 14px;
}
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
        <div class="card-header card-header-primary">
          <h4 class="card-title title-main">PROJECT MATERIALS FEEDBACK</h4>
        </div>
        </div>
        {% if feedback_materials %}
            {% for feedback in feedback_materials %}
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Project Name</h4>
                      <p class="card-category">{{feedback.project.project}}</p>
                    </div>
                    <div class="card-body">
                      <label class="labl"><span class="project-detail">Student Name :</span> {{feedback.student}}</label>
                      <label class="labl"><span class="project-detail">Feedback on File:</span> {{feedback.filename}} <a href="{{feedback.similar_topic_file.url}}" download> <span class="download"><img class="download-img" src="{% static 'img/download.png' %}" /> Download</span></a></label>
                      <label class="labl"><span class="project-detail">Comment :</span> {{feedback.comment}}</label>
                      <label class="labl"><span class="project-detail">Submission Date :</span>{{feedback.date}}</label>
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p class="no-topics">No Project Materials Feedback Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>


{% endblock %}






