  
{% extends "teacher_base.html" %}

{% block content %}



<style>


.form-topic{
  background:white;
  padding:15px;
}
.topic-name{
  border: 1px solid darkblue;
  padding: 8px 4px 8px 10px;
  margin-top:12px;
}
.input-description{
  border: 1px solid darkblue;
  padding: 8px 4px 8px 10px;
  margin-top:12px;

}
.form-label{
  color:black;
}
.form-button{
    background: #9c27b0;
    color: white;
    padding: 6px;
    width: 121px;
    border: none;
    cursor: pointer;
}
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 form-card">
      <form method="post" class="form-topic">
          {% csrf_token %}
          <div class="mb-4">
            <label for="topicName" class="form-label">Topic Name</label>
            <input type="text" name="name" class="form-control topic-name" id="exampleFormControlInput1" placeholder="ex: eCommerce" required>
          </div>
          <div class="mb-3">
            <label for="topicDescription" class="form-label">Topic Description</label>
            <textarea class="form-control input-description" name ="description" id="exampleFormControlTextarea1" rows="8" required></textarea>
          </div>
          <div class="mb-1">
            <button class="form-button">Save</button>
          </div>
      </form>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>

{% endblock %}