{% extends "teacher_base.html" %}
{% load static %}

{% block content %}

<style>

.project-detail{
  color:black;
  font-weight:500;
}
.approve-link{
  display: block;
  margin-top: 10px;
  font-weight: 700;
}
.title-main{
    color:black;
    font-weight:600;
    text-align:center; 
}
.labl{
  display:block;
}
.no-topics{
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 400;
}
</style>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">

            <div class="col-md-12">
                <div class="card-header card-header-primary">
                <h4 class="card-title title-main">MY PROPOSAL TOPICS</h4>
                </div>
            </div>
            {% if my_topics %}
                {% for topic in my_topics %}
                  <div class="col-md-6">
                      <div class="card">
                          <div class="card-header card-header-primary">
                              <h4 class="card-title">Project Name</h4>
                              <p class="card-category">{{topic.name}}</p>
                          </div>
                          <div class="card-body">
                              <label class="labl"><span class="project-detail">Topic Description :</span>{{topic.snippet2}}</label>
                          </div>
                      </div>
                  </div>
                {% endfor %}
            {% else %}
              <div class="col-md-12">
                <p class="no-topics">No proposal topics available</p>
              </div>
            {% endif %}
     
      </div>
    </div>
  </div>
</div>


{% endblock %}
