{% extends "index2.html" %}
{% load static %}

{% block content %}

<style>

.project-detail{
  color:black;
  font-weight:500;
}
.title-main{
    color:black;
    font-weight:600;
    text-align:center;
    
}
.approve-link{
  display: block;
  margin-top: 10px;
  font-weight: 700;
}
.labl{
  display:block;
}
</style>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
              <div class="col-md-12">
              <div class="card-header card-header-primary">
                <h4 class="card-title title-main">SUBMITTED PROJECTS</h4>
              </div>
              </div>

                {% for project in submitted_projects %}
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Project Name</h4>
                      <p class="card-category">{{project.project}}</p>
                    </div>
                    <div class="card-body">
                      <label class="labl"><span class="project-detail">Student Name :</span> {{project.student}}</label>
                      <label class="labl"><span class="project-detail">Project Report :</span> {{project.report}}</label>
                      <label class="labl"><span class="project-detail">Project Status :</span>{{project.status}}</label>
                      <label class="labl"><span class="project-detail">Submission Date :</span>{{project.date}}</label>
                      <a class="approve-link" href="{% url 'provide_feedback' project.id %}">Provide Feedback</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
             </div>
            </div>
          </div>
        </div>
      
{% endblock %}

