<html>
<head>
    <title>NEW SYSTEM DASHBOARD</title>
</head>
<style>
.link{
    margin:0px 10px;
}
</style>
<body>



<div>

     <div>
        {% if user.is_superuser %}
            <a class="link" href="{% url 'dashboard' %}">Create Proposal Topic</a>
            <a class="link" href="{% url 'selected_project' %}">Selected Topic by Students</a>
            <a class="link" href="{% url 'denied_project' %}">Denied Proposal Topic</a>
            <a class="link" href="{% url 'proposal_projects' %}">Proposal Projects</a>
            <a class="link" href="{% url 'submitted_projects' %}">Submitted Projects</a>
            <a class="link" href="{% url 'add_project_materials' %}">Add Project Materials</a>
            <a class="link" href="{% url 'all_feedback_materials' %}">Project Materials Feedback</a>







        {% else %}
            <a class="link" href="{% url 'dashboard' %}">Account</a>
            <a class="link" href="{% url 'upload_proposal' %}">Upload Project Proposal</a>
            <a class="link" href="{% url 'proposal_feedback' %}">Proposal Feedback</a>
            <a class="link" href="{% url 'submit_project' %}">Submit Project</a>
            <a class="link" href="{% url 'draft_feedback' %}">Draft Project Submission Feedback</a>
            <a class="link" href="{% url 'project_materials' %}">Project Materials</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>

        {% endif %}
    </div>
    <hr>
    <div> 
        {% block container %}

        {% endblock  %}
    </div>
</div>


</body>

</html>