  
{% extends "index.html" %}
{% load static %}

{% block container %}
<style>
.name{
    font-weight:900;
}
.card{
    width: 300px;
    padding: 13px;
    border: 1px solid darkblue;
    margin:10px 0px;
}
</style>

<h4>Projects Feedback</h4>

{% for feedback in feedback_materials %}
    <div class="card">
        <p><span class="name">Project Name: </span>{{feedback.project}}</p>
        <p><span class="name">Student: </span> {{feedback.student}}</p>
        <p><span class="name">File: </span> {{feedback.similar_topic_file}}</p>
        <p><span class="name">Comment: </span> {{feedback.comment}}</p>
        <p><span class="name">Submitted Date: </span> {{feedback.date}}</p>

    </div>
{% endfor %}


{% endblock %}


