  
{% extends "index.html" %}
{% load static %}

{% block container %}
<style>
.name{
    font-weight:900;
}
.card{
    width: 300px;
    padding: 13px;
    border: 1px solid darkblue;
    margin:10px 0px;
}
</style>


<div>

            {% if final_feedback %}
                <h4>Final Project Submission  Feedback</h4>

                {% for feedback in final_feedback %}

                    <div class="card">
                        <p><span class="name">Feedback for report: </span> {{feedback.report}}</p>
                        <p><span class="name">Comment: </span> {{feedback.comment}}</p>
                        <p><span class="name">Submission Date: </span> {{feedback.date}}</p>

                    </div>

                {% endfor %}
            {% endif %}

            {% if draft_feedback %}
                <h4>Draft Project Submission  Feedback</h4>

                {% for feedback in draft_feedback %}


                    <div class="card">
                        <p><span class="name">Feedback for report: </span> {{feedback.report}}</p>
                        <p><span class="name">Comment: </span> {{feedback.comment}}</p>
                        <p><span class="name">Submission Date: </span> {{feedback.date}}</p>

                    </div>
                {% endfor %}
                
            {% endif %}
              

</div>

{% endblock %}
