  
{% extends "index.html" %}
{% load static %}

{% block container %}
<style>
.name{
    font-weight:900;
}
.card{
    width: 300px;
    padding: 13px;
    border: 1px solid darkblue;
    margin:10px 0px;
}
</style>

<h4>Project Materials</h4>

{% for project in materials %}
    <div class="card">
        <p><span class="name">Project Name: </span>{{project.project}}</p>
        <p><span class="name">Similar File: </span> {{project.similar_topic_file}}</p>
        <p><span class="name">Submitted Date: </span> {{project.date}}</p>

        <a href="{% url 'feedback_materials' project.id %}">Give Feedback</a>
    </div>
{% endfor %}


{% endblock %}

