  
{% extends "index.html" %}
{% load static %}

{% block container %}
<style>
.name{
    font-weight:900;
}
.card{
    width: 300px;
    padding: 13px;
    border: 1px solid darkblue;
    margin:10px 0px;
}
</style>

<h4>Proposal Projects</h4>

{% for project in proposal_projects %}
    <div class="card">
        <p><span class="name">Project Name: </span>{{project.project}}</p>
        <p><span class="name">Student: </span> {{project.student}}</p>
        <p><span class="name">Proposal file: </span> {{project.proposal_file}}</p>
        <p><span class="name">Comment: </span> {{project.comment}}</p>
        <p><span class="name">Submitted Date: </span> {{project.date}}</p>

        <a href="{% url 'write_feedback' project.id %}">Give Feedback</a>
    </div>
{% endfor %}


{% endblock %}