  
{% extends "index.html" %}
{% load static %}

{% block container %}
<style>
.name{
    font-weight:900;
}
.card{
    width: 300px;
    padding: 13px;
    border: 1px solid darkblue;
    margin:10px 0px;
}
</style>


<div>

        <h4> Selected Projects</h4>

        {% for project in selected_project %}
            <div class="card">
                <p><span class="name">Project Name: </span>{{project.project}}</p>
                <p><span class="name">Student name: </span> {{project.student}}</p>
                <p><span class="name">Student View: </span> {{project.student_view}}</p>
                <p><span class="name">Student View: </span> {{project.date}}</p>
                <a href="{% url 'confirm_project' project.id %}">Approve or Denie</a>
            </div>
       
        {% endfor %}


</div>
{% endblock %}